section.map
	include map
	.map__wrap.container 
		.map__wrap-col 
			span.map__address Tobelmühlestrasse 2, CH‐7270 Davos Platz
			a.map__tel(href="tel:+41788067045") +41 78 806 70 45
			a.map__mail(href="mailto:45info@residencesathrhdavos.com") 45info@residencesathrhdavos.com
			.social.map__social 
				a(href="")
					img(src=require("../../images/inst.svg"), alt="")
				a(href="")
					img(src=require("../../images/fb.svg"), alt="")
				a(href="")
					img(src=require("../../images/in.svg"), alt="")
		.map__wrap-col
			.map__person 
				img.map__person-pic(src=require("../../images/av1.png") alt="")
				.map__persong-block 
					.map__person-post General Manager of Hard Rock Hotel Davos
					.map__persong-name Florian K. Walther
			.map__person 
				img.map__person-pic(src=require("../../images/av2.png") alt="")
				.map__persong-block 
					.map__person-post Sales Manager
					.map__person-tel +41 78 806 70 45
					.map__persong-name Marika Zanoletti
