.map__container
	.map__view
		span.map__dot
		picture.map-item 
			source(srcset=require("../../images/map2.png") media="(min-width: 768px)")
			source(srcset=require("../../images/map2-mobile.png") media="(min-width: 0)")
			img(src=require("../../images/map2.png"), alt="")
		.map__view-descr 
			img(src=require("../../images/map-descr.png"), alt="")
		//- span.map__title Davos
		//- .map__logo
		//- 	img(src=require("../../images/m-logo.svg"), alt="")
		//- .map__item.map__item--1
		//- 	img(src=require("../../images/m1.svg"), alt="")
		//- 	span Schatzalp train
		//- .map__item.map__item--2
		//- 	img(src=require("../../images/m2.svg"), alt="")
		//- 	span Shopping streets
		//- .map__item.map__item--3
		//- 	img(src=require("../../images/m3.svg"), alt="")
		//- 	span Jakobshorn train
		//- .map__item.map__item--4
		//- 	img(src=require("../../images/m4.svg"), alt="")
		//- 	span Vaillant Arena
		//- .map__item.map__item--5
		//- 	img(src=require("../../images/m5.svg"), alt="")
		//- 	span Cross-country center
		//- .map__item.map__item--6
		//- 	img(src=require("../../images/m6.svg"), alt="")
		//- 	span Congress Center
		//- .map__item.map__item--7
		//- 	img(src=require("../../images/m7.svg"), alt="")
		//- 	span Golf Club
		//- .map__item.map__item--8
		//- 	img(src=require("../../images/m8.svg"), alt="")
		//- 	span Parsenn ski area
		//- .map__item.map__item--9
		//- 	img(src=require("../../images/m9.svg"), alt="")
		//- 	span Lake Davos