section.residence
	.container 
		.residence__head 
			h2.section-title.residence__title Residence
			a.btn.btn--black More
		.residence__wrap
			.residence__slider 
				.swiper 
					.swiper-wrapper 
						.swiper-slide.residence__slide 
							.residence__pic 
								img(src=require("../../images/r1.png"), alt="")
							.residence__body 
								span.residence__name Residence №105
								ul.residence__char 
									li
										span Bedrooms
										span 2 ½
									li
										span room
										span х1
									li
										span Floor
										span ground floor
									li
										span Balcony
										span 12.27
									li
										span Net area, m2
										span 64.82
									li
										span Gross area, m2
										span 77.09
							.residence__footer 
								.residence__price 
									span 1 965 000 
									| &nbsp;CHF
								a.btn.btn--second.residence__btn More
						.swiper-slide.residence__slide 
							.residence__pic 
								img(src=require("../../images/r1.png"), alt="")
							.residence__body 
								span.residence__name Residence №105
								ul.residence__char 
									li
										span Bedrooms
										span 2 ½
									li
										span room
										span х1
									li
										span Floor
										span ground floor
									li
										span Balcony
										span 12.27
									li
										span Net area, m2
										span 64.82
									li
										span Gross area, m2
										span 77.09
							.residence__footer 
								.residence__price 
									span 1 965 000 
									| &nbsp;CHF
								a.btn.btn--second.residence__btn More

						.swiper-slide.residence__slide 
							.residence__pic 
								img(src=require("../../images/r1.png"), alt="")
							.residence__body 
								span.residence__name Residence №105
								ul.residence__char 
									li
										span Bedrooms
										span 2 ½
									li
										span room
										span х1
									li
										span Floor
										span ground floor
									li
										span Balcony
										span 12.27
									li
										span Net area, m2
										span 64.82
									li
										span Gross area, m2
										span 77.09
							.residence__footer 
								.residence__price 
									span 1 965 000 
									| &nbsp;CHF
								a.btn.btn--second.residence__btn More

						.swiper-slide.residence__slide 
							.residence__pic 
								img(src=require("../../images/r1.png"), alt="")
							.residence__body 
								span.residence__name Residence №105
								ul.residence__char 
									li
										span Bedrooms
										span 2 ½
									li
										span room
										span х1
									li
										span Floor
										span ground floor
									li
										span Balcony
										span 12.27
									li
										span Net area, m2
										span 64.82
									li
										span Gross area, m2
										span 77.09
							.residence__footer 
								.residence__price 
									span 1 965 000 
									| &nbsp;CHF
								a.btn.btn--second.residence__btn More

						.swiper-slide.residence__slide 
							.residence__pic 
								img(src=require("../../images/r1.png"), alt="")
							.residence__body 
								span.residence__name Residence №105
								ul.residence__char 
									li
										span Bedrooms
										span 2 ½
									li
										span room
										span х1
									li
										span Floor
										span ground floor
									li
										span Balcony
										span 12.27
									li
										span Net area, m2
										span 64.82
									li
										span Gross area, m2
										span 77.09
							.residence__footer 
								.residence__price 
									span 1 965 000
									| &nbsp;CHF
								a.btn.btn--second.residence__btn More
				.swiper-button-prev 
				.swiper-button-next