mixin reviews(name)
	section.reviews(class!=attributes.class)= name
		.container 
			h2.section-title.reviews__title Guest evaluations of our work
			.reviews__wrap 
				.reviews__item 
					img.reviews__logo(src=require("../images/l1.svg") alt="")
					.reviews__bottom 
						.reviews__stars 
							svg(width="25" height="24")
								use(href="#icn-star")
							svg(width="25" height="24")
								use(href="#icn-star")
							svg(width="25" height="24")
								use(href="#icn-star")
							svg(width="25" height="24")
								use(href="#icn-star")
							svg(width="25" height="24")
								use(href="#icn-star")
						span.reviews__num 4.6 
				.reviews__item 
					img.reviews__logo(src=require("../images/l2.svg") alt="")
					.reviews__bottom 
						.reviews__stars 
							svg(width="25" height="24")
								use(href="#icn-star")
							svg(width="25" height="24")
								use(href="#icn-star")
							svg(width="25" height="24")
								use(href="#icn-star")
							svg(width="25" height="24")
								use(href="#icn-star")
							svg(width="25" height="24")
								use(href="#icn-star")
						span.reviews__num 4.6 
				.reviews__item 
					img.reviews__logo(src=require("../images/l3.svg") alt="")
					.reviews__bottom 
						.reviews__stars 
							svg(width="25" height="24")
								use(href="#icn-star")
							svg(width="25" height="24")
								use(href="#icn-star")
							svg(width="25" height="24")
								use(href="#icn-star")
							svg(width="25" height="24")
								use(href="#icn-star")
							svg(width="25" height="24")
								use(href="#icn-star")
						span.reviews__num 4.6 
				.reviews__item 
					img.reviews__logo(src=require("../images/l4.svg") alt="")
					.reviews__bottom 
						.reviews__stars 
							svg(width="25" height="24")
								use(href="#icn-star")
							svg(width="25" height="24")
								use(href="#icn-star")
							svg(width="25" height="24")
								use(href="#icn-star")
							svg(width="25" height="24")
								use(href="#icn-star")
							svg(width="25" height="24")
								use(href="#icn-star")
						span.reviews__num 4.6 
				.reviews__item 
					img.reviews__logo(src=require("../images/l5.svg") alt="")
					.reviews__bottom 
						.reviews__stars 
							svg(width="25" height="24")
								use(href="#icn-star")
							svg(width="25" height="24")
								use(href="#icn-star")
							svg(width="25" height="24")
								use(href="#icn-star")
							svg(width="25" height="24")
								use(href="#icn-star")
							svg(width="25" height="24")
								use(href="#icn-star")
						span.reviews__num 4.6 
