section.team 
	.container 
		h2.section-title.team__title Team
		.team__wrap
			.team__slider 
				.swiper 
					.swiper-wrapper 
						.swiper-slide.team__slide
							img.team__pic(src=require("../../images/pic15.png"), alt="")
							.team__body 
								span.team__name Sales Director
								span.team__text Marika Zanoletti
						.swiper-slide.team__slide
							img.team__pic(src=require("../../images/pic15.png"), alt="")
							.team__body 
								span.team__name Sales Director
								span.team__text Marika Zanoletti
						.swiper-slide.team__slide
							img.team__pic(src=require("../../images/pic15.png"), alt="")
							.team__body 
								span.team__name Sales Director
								span.team__text Marika Zanoletti
						.swiper-slide.team__slide
							img.team__pic(src=require("../../images/pic15.png"), alt="")
							.team__body 
								span.team__name Sales Director
								span.team__text Marika Zanoletti
						.swiper-slide.team__slide
							img.team__pic(src=require("../../images/pic15.png"), alt="")
							.team__body 
								span.team__name Sales Director
								span.team__text Marika Zanoletti
						.swiper-slide.team__slide
							img.team__pic(src=require("../../images/pic15.png"), alt="")
							.team__body 
								span.team__name Sales Director
								span.team__text Marika Zanoletti
				.swiper-button-prev 
				.swiper-button-next
