extends layout
block main 
	main
		include modules/banner-residence

		section.card.after-main
			.container 
				.card__wrap 
					.card__side
						.char 
							ul.char__list 
								li.char__item
									span room
									span х1
								li.char__item
									span Bedrooms
									span 2½
								li.char__item
									span Floor
									span Ground floor
								li.char__item
									span Balcony
									span 12.27
								li.char__item
									span Net area, m2
									span 64.82
								li.char__item
									span Gross area, m2
									span 77.09
							.char__price 
								span Price
								span 1 965 000 CHF
							button.btn.btn--first.showForm Send a request
						.plan 
							span.plan__title Floor plan 
							a(href=require("../images/r1.png") , data-fslightbox="1-lightbox").plan__pic 
								img(src=require("../images/r1.png"), alt="")
							button.plan__btn View

					.card__images
						.card__image.card__image--l
							img(src=require("../images/pic21.png"), alt="")
						.card__image
							img(src=require("../images/pic22.png"), alt="")
						.card__image
							img(src=require("../images/pic23.png"), alt="")
						.card__image
							img(src=require("../images/pic24.png"), alt="")
						.card__image
							img(src=require("../images/pic25.png"), alt="")
						.card__image
							img(src=require("../images/pic21.png"), alt="")
						.card__image
							img(src=require("../images/pic21.png"), alt="")
			.card-footer 
				button.showForm.btn.btn--first Send a request 
				button.btn.btn--black 3d tour 
				a(href=require("../images/r1.png") , data-fslightbox="1b-lightbox").plan__pic 
					button.btn.btn--black floor plan

		include modules/feedback
		include modules/residence
		include modules/faq